## General
node_modules
data
dist
cookies
obsidian.config.json
cache
## Electron
**/electron/assets
**/electron/public
**/electron/pages
**/electron/electron-**
## Assets
out
test
images
files
## Certs
certs
### Whatsapp web.js
.wwebjs_cache
logs
```